.navbar
    background-color: #fff
    &-top
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 40px
        padding-bottom: 40px
        &__menu-button
            display: none
    &__search
        margin-right: auto
        margin-left: 108px
    &-bottom
        background-color: $dark

    &-menu
        // Убираем точки перед пунктами
        list-style-type: none
        margin: 0
        padding: 31px 0
        display: flex
        align-items: center
        justify-content: space-between
        color: $lighte
        &__link
            // Определяем что элементы должны взять свойство родителя
            color: inherit
            // Убираем подчёркивание
            text-decoration: none
            // Шрифт ссылок пишем заглавными буквами
            text-transform: uppercase
            font-size: 14px
            line-height: 18px
.logo
    width: 177px
.search
    display: flex
    position: relative
    overflow: hidden
    border-radius: 6px
    height: 40px
    &__input
        width: 350px
        height: 100%
        padding-left: 23px
        padding-right: 75px
        background: #F5FAFE
        font-size: 12px
        font-style: normal
        font-weight: 400
        line-height: normal
        color: $text-color
        border: none
    &__button
        position: absolute
        right: 0
        top: 0
        width: 65px
        height: 100%
        flex-shrink: 0
        border-radius: 0px 6px 6px 0px
        background-color: $primary
        border: none
.user
    display: flex
    align-items: center
    text-decoration: none
    &__avatar
        width: 40px
        height: 40px
        border-radius: 50%
        object-fit: cover
    &__name
        font-size: 14px
        color: $text-color
        margin-left: 18px
